<div>
	<h1>The Customer page</h1>

	<table class="table">
		<tr>
			<th>ID</th>
			<th>DB</th>
			<th>Name</th>
			<th>Active</th>
			<th>DateCreated</th>
			<th>CreditLimit</th>
		</tr>
		<tr ng-repeat="customer in ctrl.Customers">
			<td ng-bind="customer.ID"></td>
			<td ng-bind="customer.DB"></td>
			<td ng-bind="customer.Name"></td>
			<td ng-bind="customer.Active"></td>
			<td ng-bind="customer.DateCreated | date: 'medium'"></td>
			<td ng-bind="customer.CreditLimit"></td>
		</tr>
	</table>
</div>